# Python
.venv/
venv/
__pycache__/
*.pyc

# Variables de entorno / secretos
.env
.env.*

# VS Code
.vscode/

# Node / React
node_modules/
dist/

# Documentación local
/Docs/bitacora_integrada.txt
/Docs/Prompts/
/Docs/Diario/
/Docs/Comandos/