.auth-card {
    display: flex;

    width: 60%;
    max-width: 620px;

    height: 80%;
    max-height: 620px;

    box-sizing: border-box;

    background: var(--color-surface-light);
    color: var(--color-text-accent);
    font-family: var(--font-main);

    border-radius: 1.5rem;
    padding: 2.5rem;
}